@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
    border: 1px solid rgb(55 48 163 / 100%);
  }

.split {
    height: 94%;
    width: 40%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    padding-top: 5%;
    /*background-color: #9c9af5;*/
  }
  
  /* Control the right side */
  .right {
    left: 40%;
    width: 70%;
    /*background-color: red;*/
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .footer {
    position: absolute;
    bottom: 0%;
    left: 45%;
  }
  .btn {
    border: 10px;
    bottom: 10%;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color:  rgb(55 48 163 / 100%);;
    border-color: white;
    background-image: linear-gradient(
      to top left,
      rgb(0 0 0 / 20%),
      rgb(0 0 0 / 20%) 30%,
      rgb(0 0 0 / 0%)
    );
    box-shadow:
      inset 2px 2px 3px rgb(255 255 255 / 60%),
      inset -2px -2px 3px rgb(0 0 0 / 60%);
  }
  
  .btn:hover {
    background-color: rgb(99 102 241 / 100%);
  }
  
  .btn:active {
    box-shadow:
      inset -2px -2px 3px rgb(255 255 255 / 60%),
      inset 2px 2px 3px rgb(0 0 0 / 60%);
  }
  .circle {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
  }
  .myCanvas {
    width: 600;
    height: 500;
    }
label {
        font:
          1rem 'Fira Sans',
          sans-serif;
      }
      
.hidden {
    display: none;
    margin: 0.4rem 0;
}

.val {
  position: absolute;
  bottom: 40%;
  text-align: center;
}
      